@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: -webkit-linear-gradient(90deg, #a996da,#ff867a,#9bd029);background: linear-gradient(90deg, #a996da,#ff867a,#9bd029);

}
.toDo{
    margin-top: 50px ;
}
h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}